[submodule "themes/identity"]
	path = themes/identity
	url = https://github.com/aerohub/hugo-identity-theme.git
[submodule "public"]
	path = public
	url = https://github.com/tonyklawrence/evilducks.github.io.git
	branch = gh-pages
